/* common ===========================*/
:root {
    font-family: 'Pixelify Sans';
    --accent1: #1cefb3;
    --bg: #fff8f3;
    background-image: url(images/design-space-paper-textured-background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;

}

body {
    font-family: 'Pixelify Sans', sans-serif;
    margin: 0px;
    padding: 0px;
    margin: 0px auto 0px;
    width: 1320px;


}

.sec-title {
    color: var(----text2);
    text-align: center;

    font-size: 35px;
    font-weight: 700;

}

.nav-title {
    color: var(--Dark-01, #181818);
    font-family: 'Pixelify Sans';
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.nav-title-sp {
    color: var(--accent1);
}

/* Header =============================*/

.header {
    margin-top: 7%;
    /*temp*/
    height: 750px;
    background-image: url(images/header_bg.png);
    border-radius: 10px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.447);
}

nav {
    margin: 0px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 50px;
}

nav li {
    list-style: none;
}

nav a {
    color: var(--Dark-02, #474747);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

nav a:hover {
    color: var(--accent1);
    font-size: 21px;
}

.btn-primary {
    font-family: 'Pixelify Sans', sans-serif;
    padding: 20px;
    flex-shrink: 0;
    border-radius: 5px;
    background: var(--accent1);
    border: none;
    color: var(--White-Color, #FFF);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.btn-primary a {
    text-decoration: none;
    color: var(--White-Color, #FFF);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


.btn-primary:hover {
    padding: 19px;
    background: #FFF;
    border: 1px solid var(--accent1);
    color: var(--accent1);
}


.banner {
    width: 600px;
    margin-top: 80px;
    margin-left: 54px;
}

.bnr-greet {
    color: var(--Dark-02, #474747);
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 0px;
}

.bnr-title {
    margin: 0px;
    color: var(--Dark-01, #181818);
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.bnr-dscrp {
    margin: 0px auto 30px;
}